USER=rceschel

VOLUMES_HOME=/home/${USER}/data
BASE_DOMAIN=${USER}.42.fr

NGINX_CERTS_PATH=/etc/nginx/certs
NGINX_SSL_CERT=${NGINX_CERTS_PATH}/${BASE_DOMAIN}.crt
NGINX_SSL_CERT_KEY=${NGINX_CERTS_PATH}/${BASE_DOMAIN}.key
